In [1]:
#XGBOOST

In [2]:
from sklearn.datasets import load_boston
boston=load_boston()

C:\Users\arindam\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
print(boston.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [4]:
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [5]:
import pandas as pd 
data=pd.DataFrame(boston.data)
data.columns=boston.feature_names

In [6]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
data['Price']=boston.target

In [8]:
import xgboost as xgb 
from sklearn.metrics import mean_squared_error 
import pandas as pd 
import numpy as np

In [9]:
X,y=data.iloc[:,:-1],data.iloc[:,-1]

In [10]:
data_dmatrix=xgb.DMatrix(data=X,label=y)

In [11]:
data_dmatrix

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [13]:
xg_reg=xgb.XGBRegressor(objective='reg:linear',colsample_bytree=0.3,learning_rate=0.1,
                           max_depth=5,alpha=10,n_estimators=10)

In [14]:
xg_reg.fit(X_train,y_train)
preds=xg_reg.predict(X_test)

[06:26:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

In [15]:
rmse=np.sqrt(mean_squared_error(y_test,preds))
print('RMSE: %f' % (rmse))

RMSE: 10.423243

In [16]:
params={'objective':'reg:linear','colsample_bytree':0.3,'learning_rate':0.1,'max_depth':5,'alpha':10}

cv_results=xgb.cv(dtrain=data_dmatrix,params=params,nfold=3,
                    num_boost_round=50,early_stopping_rounds=10,metrics='rmse',as_pandas=True,seed=123)

[06:33:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.
[06:33:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.
[06:33:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

In [18]:
print((cv_results['test-rmse-mean']).tail(1))

49    3.99692
Name: test-rmse-mean, dtype: float64

In [20]:
cv_results

    train-rmse-mean  train-rmse-std  test-rmse-mean  test-rmse-std
0         21.750758        0.036152       21.765523       0.028849
1         19.778532        0.077649       19.830760       0.031760
2         18.052810        0.118632       18.157336       0.116038
3         16.458958        0.169189       16.623975       0.191413
4         15.074781        0.183545       15.254608       0.213612
5         13.791093        0.216903       14.031676       0.250688
6         12.588551        0.184168       12.855076       0.235383
7         11.595904        0.184370       11.918408       0.259773
8         10.630265        0.156457       11.017994       0.236794
9          9.824976        0.202503       10.252324       0.269036
10         9.081573        0.151427        9.564404       0.248442
11         8.445415        0.201161        8.981437       0.280135
12         7.821794        0.150273        8.405444       0.262749
13         7.351428        0.162784        7.988541       0.268935
14         6.913529        0.138568        7.595556       0.275594
15         6.519528        0.166407        7.261677       0.303747
16         6.063111        0.152205        6.883890       0.294064
17         5.725739        0.189042        6.592061       0.286843
18         5.398780        0.169922        6.307456       0.230042
19         5.127541        0.195687        6.116330       0.233224
20         4.845933        0.169025        5.858440       0.211222
21         4.659416        0.173110        5.701595       0.214739
22         4.432206        0.184574        5.497331       0.276314
23         4.252102        0.203574        5.370134       0.294292
24         4.092431        0.216660        5.225950       0.271106
25         3.914670        0.220389        5.119303       0.256736
26         3.728806        0.211463        4.972741       0.255257
27         3.588040        0.172835        4.847121       0.265299
28         3.478139        0.173804        4.750164       0.298978
29         3.380687        0.185483        4.659156       0.307605
30         3.287298        0.170571        4.590783       0.352580
31         3.205562        0.173994        4.524082       0.385923
32         3.124415        0.167529        4.460745       0.365468
33         3.057414        0.173593        4.434240       0.373080
34         2.965185        0.164844        4.381000       0.398089
35         2.919824        0.175266        4.359153       0.396011
36         2.843907        0.152837        4.312822       0.387720
37         2.796640        0.155248        4.273436       0.377202
38         2.734329        0.148518        4.233145       0.356570
39         2.689829        0.139425        4.212224       0.369759
40         2.630695        0.130425        4.185005       0.366531
41         2.579241        0.120487        4.142900       0.371989
42         2.542063        0.113188        4.119046       0.365177
43         2.506820        0.120480        4.108835       0.363622
44         2.463485        0.119847        4.095853       0.360303
45         2.437600        0.121488        4.081600       0.364051
46         2.400291        0.117161        4.054152       0.356458
47         2.358589        0.108396        4.027098       0.375358
48         2.330911        0.103723        4.023613       0.377495
49         2.289405        0.100094        3.996920       0.393780

In [21]:
#XGB classifier

In [22]:
df=pd.read_csv('bank-additional-full.csv',sep=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [24]:
X=df.drop(['y'],axis=1)

In [25]:
X

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6

In [27]:
X=pd.get_dummies(X)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
le=LabelEncoder()

In [30]:
y=le.fit_transform(y)

In [33]:
y

array([137, 113, 196, 193, 203, 165, 126, 156,  64,  87,  52,  87, 114,
       102,  80,  97, 128,  73, 100,  80,  40,  94,  54,  48,  57,  42,
        65,  50,  82, 108,  32,  48,  36,  35,  39,  87,  98, 108, 144,
       176, 197, 153, 149, 144, 110,  91,  98,  65,  47,  92,  95, 103,
       146, 131,  87, 200, 144, 181, 130,  94,  85,  59, 119, 146, 189,
       132,  92, 117,  72, 107, 139, 114, 125, 131, 138, 111,  98, 106,
       110, 101, 159, 136, 145, 126, 136, 153, 122, 119, 133, 165, 123,
       117, 126, 146, 104, 162, 111, 211, 219, 191, 157, 152,  84,  91,
        99,  93,  93, 102,  96,  92, 114, 125,  86,  85,  83,  81, 110,
        90, 102,  91, 117, 101, 103,  71,  86, 111,  58,  61,  78,  46,
        90,  94, 127,  82,  57,  79,  72,  69,  37,  76,  43,  47,  38,
        57,  25,  41,  57,  49,  76,  56, 112,  94,  55,  92,  68,  57,
        35, 213, 140, 130, 155, 228, 228, 228, 124, 146, 228, 135, 135,
       120,  72,  89, 128, 133, 123, 168, 129, 143, 171, 207, 212, 203,
       210, 186, 151, 169, 228, 183, 170, 197, 206, 174, 204, 178, 167,
       228, 192, 173, 195, 197, 188, 138, 215, 226, 228, 123, 141, 122,
       141,  98, 114,  91, 121, 160, 134, 146, 130, 165, 112, 127, 154,
       114, 157, 172, 221, 228, 209, 181, 224, 180, 140, 182, 214, 225,
       166, 137, 147, 180, 134, 130, 117,  99, 119, 134,  74,  83, 140,
       103, 142, 150, 141, 145, 169, 216, 116, 107, 220, 228, 201, 172,
       194, 217, 227, 177, 205, 125, 175, 228, 218, 105, 109, 148, 141,
       199, 185, 183, 191, 190, 167, 198, 222, 200, 223, 228, 184, 117,
        99, 129, 120, 145, 163, 208, 158, 136, 114, 164, 156, 101, 122,
       166, 145, 117, 151, 190, 202, 162, 193, 161, 125, 101,  60, 118,
        92, 113, 135,  61,  76,  96, 128, 108, 135, 128, 102,  83, 146,
       143, 127, 119,  91, 123,  96,  69,  92, 119, 105, 109,  93,  83,
       104,  88,  85, 187,  64, 136, 179,  73,  70, 128, 142, 153, 126,
       138,  84, 172,  80, 104,  76, 114, 124, 123, 146,  97, 106,  67,
       116, 157, 116, 128, 228, 228, 228, 228, 228,  41,  41,  52,  42,
        37,  35,  16,  17,  20,  22,  29,  12,   4,  18,   5,  16,  23,
        53, 129,  15,  41,  32,  35,  30,  10,   0,   2,   1,   4,  28,
         8,  10,   0,  26, 158,  70, 157,  52,  70,  77,  62,   3,   4,
         6,  17,  12,   9,  66,  45, 106,  38,  24,   8,  16,  20,  21,
        13,  48,  44,  60,  46,  24,  38,  14,  11,   9,  33,  18,  69,
        82,  56,  19,  25,  51,  31,  44,  34,  38,  54,  60,  76,  51,
        44,  32,  39,  51,  98,  63,  75,  93, 100, 111,  97,  88,  89,
        89,  99,  97,  94, 129, 170,  41,  37,  66,  27,  49, 111, 127,
       134, 146, 115, 104, 110,  89, 104,  54,   3,   7,  40,  99, 115,
       142, 128,  95,  81, 110,  73,  67, 121, 104, 136, 117,  26],
      dtype=int64)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=126)

ValueError: Found input variables with inconsistent numbers of samples: [41188, 506]